            <!-- Progress Over Time Chart -->
            <div class="
            mt-6
            sm:mt-8">
              
                <div 
                class="
                material-card
                bg-white
                dark:bg-neutral-800
                rounded-xl
                sm:rounded-2xl
                p-4
                sm:p-6
                shadow-material-1">
                    
                    <h3 
                    class="
                    headline-6
                    mb-4
                    sm:mb-6
                    text-neutral-800
                    dark:text-white">
                    Progress Over Time 
                    </h3>
                   
                    <div class="chart-container">
                        <canvas id="progressTimeChart"></canvas>
                    </div>

                </div>


            </div>
       